 <div class="container">
 <h1 *ngIf="isAddModal">Add Post</h1>
 <h1 *ngIf ="!isAddModal">Update Post</h1>
  <form [formGroup]="addform" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="Title"
        formControlName="title"
      />

    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Body</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        formControlName="body"
        rows="3"
      ></textarea>
    </div>
    <div class="m-3">
      <button class="btn btn-primary">Save</button>
      <a routerLink="/post" class="btn btn-link">Close</a>
    </div>
  </form>
</div>

